<tr>
  <th><h2><%= @genre.name %></h2></th>
</tr>

<tr>
  <th><h3>Artists:</h3></th>
</tr>
<% @genre.artists.each do |artist| %>
  <tr>
    <a href="/artists/<%= artist.slug %>"><%= artist.name %></a><br/>
  </tr>
<% end %>

<tr>
  <th><h3>Songs:</h3></th>
</tr>
<% @genre.songs.each do |song| %>
  <tr>
    <a href="/songs/<%= song.slug %>"><%= song.name %></a><br/>
  </tr>
<% end %>

<p>
  <hr>
</p>
<p>
  <a href="/genres">Back to genres</a>
</p>
